@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  align-items: center;
  flex-direction: row;
  background: linear-gradient(to right, #f0b7aa, #ee8972);
  background: grey;
 
}

header > h4 {
  margin-right: 20px;
  padding-left: 10px;
}

.container {
  background-color: whitesmoke;
  display: flex;
  border-bottom: 1px solid gray;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  margin: 0px;
  box-sizing: border-box;
}


.button-sort {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  border: 3px solid green;
}
.button-container {
  display: flex;
}
.favorite-button,
.delete-button {
height: 20px;
width:fit-content;
}
.favorite-button:hover,
.delete-button:hover {
  background: #e9d7d2;
}

.favorite-button > .ri-star-fill {
  font-size: 16px;
}

.favorite-button {
  margin-right: 8px;
}

.info-wrapper {
  width: 100%;
  max-width: 800px;
  border: 1px solid gray;
}

.info > h4,
.info > p {
  margin: 0px;
}

input {
  padding: 10px 0px 10px 5px;
  width: 100%;
}

/* modal styling */
.modal {
  position: fixed; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgb(0, 0, 0); 
  background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
  align-items: center;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  max-width: 400px;
  background: linear-gradient(to right, #f8eeec, #ffffff);
}

.modal-yes,
.modal-no {
  font-size: 16px;
  width: 75px;
}

.modal-yes {
  margin-left: 25%;
  margin-right: 15px;
}

.modal-yes:hover,
.modal-no:hover {
  background: #e9d7d2;
}

.button-sort:hover {
  background: #e9d7d2;
}

.input-container {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  padding: 50px 0px;
  width: 100%;
}

.input-container > input {
  width: 100%;
  max-width: 400px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-input {
  box-sizing: border-box;
}

.page {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.disabled {
  background: lightgray;
  color: gray;
  cursor: not-allowed;
}

.active {
  background: grey
}

.prev {
  border-radius: 4px 0px 0px 4px;
}

.next {
  border-radius: 0px 4px 4px 0px;
}
